.question-card {
  width: 40%;
  background: #ffffff36 !important;
  text-align: center;
  padding: 3% 0%;
  margin-bottom: 5%;
  font-size: initial;
  .answer-button {
    width: 60%;
    border-radius: 30px;
    margin-bottom: 1%;
  }
}
